*{
  background:#000;
  color:white;
}
::-webkit-scrollbar {
    width: 10px;
    z-index: 1000;
}
::-webkit-scrollbar-thumb{
  background: darkblue;
}
::-webkit-scrollbar-thumb:hover{
  background: oldlace;
}

/* Track */
::-webkit-scrollbar-track {
    background: blue;
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

.high{
    margin-top:10000px;
}
